@import "_mixins/responsive-padding.scss";
@import "_mixins/responsive-font.scss";
@import "_mixins/responsive-line-height.scss";
@import "_mixins/responsive-margin.scss";

/**
 * Icon font
 */
@font-face {
    font-family: "iconslide";
    src: url("../fonts/iconslide/iconslide.eot?r9chrx");
    src: url("../fonts/iconslide/iconslide.eot?r9chrx#iefix") format("embedded-opentype"),
        url("../fonts/iconslide/iconslide.ttf?r9chrx") format("truetype"),
        url("../fonts/iconslide/iconslide.woff?r9chrx") format("woff"),
        url("../fonts/iconslide/iconslide.svg?r9chrx#iconslide") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="start-icon-"],
[class*=" start-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "iconslide" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.start-icon-arrow-next:before {
    content: "\e900";
}
.start-icon-arrow-prev:before {
    content: "\e901";
}

@font-face {
    font-family: 'startwebsite-star';
    src:
      url('../fonts/iconslide/startwebsite-star.ttf?t9dq8k') format('truetype'),
      url('../fonts/iconslide/startwebsite-star.woff?t9dq8k') format('woff'),
      url('../fonts/iconslide/startwebsite-star.svg?t9dq8k#startwebsite-star') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="startwebsite-icon-"], [class*=" startwebsite-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'startwebsite-star' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .startwebsite-icon-star-active:before {
    content: "\e900";
    color: inherit;
  }
  .startwebsite-icon-star:before {
    content: "\e901";
    color: inherit;
  }

/**
 * Slider
 */
.container {
    max-width: 1360px;
    margin: 0 auto;
}

.slider-start * {
    box-sizing: border-box;
}

.slider-start {
    position: relative;
    // height: calc(100vw * 0.315);
    // min-height: 352px;
    // max-height: 630px;
    background-color: #fff;
    overflow: hidden;
    margin: 0 auto;
    font-size: 16px;
    //width: 500px;

    &[data-buttonswitch-position="out"] {
        padding-bottom: 40px;
        .slider-start__buttons-switches {
            bottom: 0;
            opacity: 1;
            visibility: visible;
        }
    }

    // &[data-buttonswitch-position="bottom"] {
    //     .slider-start__buttons-switches {
    //         bottom: 20px;
    //     }
    // }

    &[data-buttonswitch-position="right"] {
        .slider-start__buttons-switches {
            bottom: 0;
            left: auto;
            right: 20px;
        }
    }

    &[data-buttonswitch-position="left"] {
        .slider-start__buttons-switches {
            bottom: 0;
            right: auto;
            left: 20px;
        }
    }

    &:hover {
        .slider-start__arrows {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s ease, visibility 0.5s ease;
        }
        .slider-start__buttons-switches {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s ease, visibility 0.5s ease;
        }
    }
    &__slides {
        min-height: 250px;
        transform: translate3d(0, 0, 0);
        //transition: transform .7s ease;

        // Переходы
        &[data-slides-animation="transition"] {
            transition: transform 0.7s ease;
        }
    }
    &__slide {
        position: relative;
        display: inline-block;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: inherit;
        height: 100%;
        width: 100%;
        cursor: grab;
        overflow: hidden;
        &.active {
            z-index: 1;
            .slider-start__info {
                max-width: 850px;
                max-height: none;
                opacity: 1;
                //filter: none;
            }
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 0;
        overflow: hidden;
        &[data-animation="background-movement-top"] {
            animation: kenburns-top 20s ease-out both;
        }
        &[data-animation="background-movement-left"] {
            animation: kenburns-left 20s ease-out both;
        }
        &[data-animation="background-movement-top-right"] {
            animation: kenburns-top-right 20s ease-out both;
        }
        &[data-animation="background-movement-top-left"] {
            animation: kenburns-top-left 20s ease-out both;
        }
        &[data-animation="background-movement-right"] {
            animation: kenburns-right 20s ease-out both;
        }
        &[data-animation="background-movement-bottom-right"] {
            animation: kenburns-bottom-right 20s ease-out both;
        }
        &[data-animation="background-movement-bottom"] {
            animation: kenburns-bottom 20s ease-out both;
        }
        &[data-animation="background-movement-bottom-left"] {
            animation: kenburns-bottom-left 20s ease-out both;
        }
        &[data-animation="background-movement-color-change"] {
            animation: color-change-5x 8s linear infinite alternate both;
        }
    }

    &__video-bg {
        width: 100%;
    }

    &__container {
        position: relative;
        height: inherit;
    }

    // .slider-start__content

    &__content {
        position: absolute;
        z-index: 50;
        top: 48%;
        transform: translateY(-55%);
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    // .slider-start__info

    &__info {
        margin: 0 auto;
        overflow: hidden;
        z-index: 40;
        max-width: 0;
        max-height: 0;
        opacity: 0;
        //filter: blur(1px);
        transition: max-height 0.5s ease, opacity 1s ease-in-out;
    }

    &__info-left {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }

    &__info-right {
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }

    &__info-video {
        > * {
            height: 100%;
            width: 100%;
            margin: 0 auto;
        }
    }

    &__info-video_mobile {
        width: 250px;
        height: 260px;
        margin: 0 auto 10px auto;
    }

    &__info-video_desktop {
        height: 300px;
        margin-left: 20px;
    }

    &__label {
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        background: black;
        padding: 4px 7px;
        line-height: 1;
        border-radius: 3px;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__stars {
        @include r-margin(0, 0, 20px, 0, 0, 0, 10px, 0, 1360px, 920px);
    }

    &__star {
        margin-right: 7px;
        color: red;
        font-size: 15px !important;
        &:last-child {
            margin-right: 0;
        }
    }

    &__timer {
        color: #fff;
        font-family: inherit;
        white-space: nowrap;
        line-height: 1.3;
        text-align: center;
        font-size: 1.3em;
        @include r-mb(30px, 15px, 1360px, 320px);
        //@include r-fz(40px, 30px, 1360px, 320px);

        &_days {
            position: relative;
            text-align: center;
            display: inline-block;
            margin-right: 15px;
            min-width: 60px;
            font-family: inherit;
            color: inherit;
            // @media (max-width: $widthMobile) {
            //     min-width: 40px;
            // }
            &::after {
                content: ":";
                width: 6px;
                position: absolute;
                top: -1px;
                right: -10px;
                font-size: 1.1em;
            }
            &::before {
                content: "Days";
                position: absolute;
                bottom: -8px;
                left: 0px;
                font-size: 9px;
                opacity: 0.7;
                width: 100%;
            }
        }

        &_hours {
            position: relative;
            display: inline-block;
            margin-right: 15px;
            text-align: center;
            min-width: 60px;
            font-family: inherit;
            color: inherit;
            // @media (max-width: $widthMobile) {
            //     min-width: 40px;
            // }
            &::after {
                content: ":";
                position: absolute;
                top: -1px;
                right: -10px;
                font-size: 1.1em;
            }
            &::before {
                content: "Hours";
                position: absolute;
                bottom: -8px;
                left: 0px;
                font-size: 9px;
                opacity: 0.7;
                width: 100%;
            }
        }

        &_minutes {
            position: relative;
            display: inline-block;
            margin-right: 15px;
            text-align: center;
            min-width: 60px;
            font-family: inherit;
            color: inherit;
            // @media (max-width: $widthMobile) {
            //     min-width: 40px;
            // }
            &::after {
                content: ":";
                position: absolute;
                top: -1px;
                right: -10px;
                font-size: 1.1em;
            }
            &::before {
                content: "Minutes";
                position: absolute;
                bottom: -8px;
                left: 0px;
                font-size: 9px;
                opacity: 0.7;
                width: 100%;
            }
        }

        &_seconds {
            position: relative;
            display: inline-block;
            text-align: center;
            min-width: 60px;
            font-family: inherit;
            color: inherit;
            // @media (max-width: $widthMobile) {
            //     min-width: 40px;
            // }
            &::before {
                content: "Seconds";
                position: absolute;
                bottom: -8px;
                left: 0px;
                font-size: 9px;
                opacity: 0.7;
                width: 100%;
            }
        }
    }

    &__button-box {
        text-align: center;
    }

    &__button {
        display: inline-block;
        margin: 0;
        white-space: nowrap;
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 14px;
        margin: 0 5px 10px 5px;
    }

    .start-slider-button-1 {
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
        text-decoration: none;
    }

    .start-slider-button-2 {
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        background-color: hsl(244, 100%, 64%);
        border-color: hsl(244, 100%, 64%);
        text-decoration: none;
    }

    // .slider-start__accent

    &__text-accent {
        text-align: center;
        display: block;
        //@include r-fz(30px, 20px, 1360px, 320px);
        font-size: 2em;
        @include r-mb(15px, 7px, 1360px, 320px);
        color: rgb(36, 238, 53);
        line-height: 1;
        position: relative;
    }

    // .slider-start__title

    &__title {
        text-align: center;
        // @include r-fz(75px, 35px, 1360px, 320px);
        @include r-mb(30px, 5px, 1360px, 320px);
        font-size: 3em;
        line-height: 1;
        //@include r-lh(64px, 0.9, 0.45, 1360px, 320px);
        font-weight: 500;
        color: #fff;
        //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        margin-top: 0;
        letter-spacing: -1px;
    }

    &__title-word {
        display: inline-block;
        @include r-pl(6px, 3px, 1360px, 320px);
        @include r-pr(6px, 3px, 1360px, 320px);
        overflow: hidden;
    }

    &__title-letter {
        position: relative;
        font-size: inherit;
        font-family: inherit;
    }

    // .slider-start__text

    &__text {
        text-align: center;
        //@include r-fz(20px, 18px, 1360px, 320px);
        font-size: 1em;
        line-height: 1;
        // @include r-lh(20px, 1.6, 0.9, 1360px, 320px);
        @include r-mb(40px, 20px, 1360px, 320px);
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        letter-spacing: 0.8px;
        //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        color: #fff;
        text-overflow: ellipsis;
        position: relative;
    }

    // .slider-start__img1

    &__images-left {
        position: absolute;
        bottom: 0;
        z-index: 30;
        width: 20%;
        height: auto;
        margin: 0 auto;
    }

    &__imgbox-left {
        position: relative;
        &_img {
            position: absolute;
            width: 100%;
            height: 10vw;
            bottom: 0;
        }
    }

    // .slider-start__img2

    &__images-center {
        position: absolute;
        bottom: 0;
        height: auto;
        z-index: 30;
        width: 60%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    &__imgbox-center {
        position: relative;
        width: 100%;
        height: 10vw;
        max-width: 800px;
        max-height: 450px;
        &_main-img {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        &_add-img {
            position: absolute;
            width: 30%;
            bottom: 280px;
            left: 320px;
            right: 0;
            margin: 0 auto;
        }
    }

    // .slider-start__img3

    &__images-right {
        width: 20%;
        margin: 0 auto;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__imgbox-right {
        position: relative;
        &_img {
            position: absolute;
            width: 100%;
            height: 10vw;
            bottom: 0;
        }
    }

    &__product-imgbox {
        display: inline-block;
        vertical-align: middle;
        width: 40%;
        &_img {
            width: 100%;
            display: block;
            max-width: 300px;
            margin-left: auto;
        }
    }

    &__product-info {
        display: inline-block;
        vertical-align: middle;
        padding-left: 50px;
        width: 60%;
        @media (max-width: 920px) {
        }
    }

    &__product-link {
        text-decoration: none;
    }

    &__product-title {
        @include r-fz(30px, 23px, 1360px, 320px);
        line-height: 1;
        color: #fff;
        //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        text-align: left;
        margin-bottom: 20px;
        @include r-margin(0, 0, 20px, 0, 0, 0, 10px, 0, 1360px, 920px);
    }

    &__product-description {
        color: #fff;
        //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        @include r-fz(18px, 16px, 1360px, 320px);
        @include r-lh(18px, 1.2, 0.8, 1360px, 320px);
        text-align: left;
        @include r-margin(0, 0, 20px, 0, 0, 0, 10px, 0, 1360px, 920px);
        @media (max-width: 920px) {
        }
    }

    &__product-prices {
        color: #fff;
        @include r-margin(0, 0, 20px, 0, 0, 0, 12px, 0, 1360px, 920px);
        //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        text-align: left;
        @media screen and (max-width: 920px) {
        }
        &_current {
            @include r-fz(25px, 18px, 1360px, 320px);
            letter-spacing: 1px;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
        }
        &_new {
            display: inline-block;
            vertical-align: middle;
            @include r-ml(20px, 10px, 1360px, 320px);
            @include r-fz(23px, 17px, 1360px, 320px);
            font-weight: bold;
            position: relative;
            opacity: 0.7;
            z-index: 0;
        }
        &_new-blacken {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 0;
            left: -15%;
            width: 130%;
            height: 2px;
            background-color: rgb(0, 0, 0);
            transform: rotate(-15deg);
        }
    }

    &__product-buttonbox {
        text-align: left;
    }

    &__banner-link {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &__product-button {
        margin: 0;
    }

    &__arrows {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        color: #fff;
        //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        transition: opacity 1s ease 2s, visibility 1s ease 1.5s, color 0.5s ease;
        &_prev {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            left: 0;
            color: inherit;
            @include r-ml(30px, 0, 1360px, 320px);
            height: 50px;
            @include r-fz(50px, 20px, 1360px, 320px);
            transition: transform 0.5s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
        }
        &_next {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            right: 0;
            color: inherit;
            @include r-mr(30px, 0, 1360px, 320px);
            height: 50px;
            @include r-fz(50px, 20px, 1360px, 320px);
            transition: transform 0.5s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
        }

        &[data-arrow-view="1"] {
            .slider-start__arrows_prev,
            .slider-start__arrows_next {
                border-radius: 50%;
                background-color: #fff;
                width: 35px;
                height: 35px;
                font-size: 16px;
                box-shadow: 0 0.1rem 2rem rgba(4, 6, 28, 0.1);
                border: none;
                text-align: center;
                font-weight: bold;
                &::before {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 9px 0;
                }
            }
            .slider-start__arrows_prev {
                padding-right: 2px;
                margin-left: 5px;
            }
            .slider-start__arrows_next {
                padding-left: 2px;
                margin-right: 5px;
            }
        }
    }

    &__buttons-switches {
        position: absolute;
        z-index: 100;
        margin: 0 auto;
        right: 0;
        left: 0;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1s ease 2s, visibility 1s ease 1.5s;

        &[data-buttons-view="1"] {
            bottom: 0;
            .slider-start__button-switch {
                background-color: transparent;
                width: 20px;
                height: 20px;
                span {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: #d6d6d6;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }

        &[data-buttons-view="2"] {
            .slider-start__button-switch {
                background-color: transparent;
                width: 20px;
                height: 20px;
                &.slider-start__button-switch_active {
                    span {
                        width: 12px;
                        height: 12px;
                    }
                }
                span {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: #d6d6d6;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }

        &[data-buttons-view="3"] {
            bottom: 10px !important;
            .slider-start__button-switch {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
                span {
                    width: 25px;
                    height: 22px;
                    color: #fff;
                    line-height: 20px;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }

        &[data-buttons-view="4"] {
            bottom: 10px !important;
            .slider-start__button-switch {
                width: 20px;
                height: 40px;
                margin-right: 10px;  
                &:last-child {
                    margin-right: 0;
                }
                &.slider-start__button-switch_active {
                    span {
                        border: 2px solid #fff;
                    }
                }
                span {
                    width: 25px;
                    height: 25px;
                    padding: 6px 0;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                    font-weight: 700;
                    line-height: 10px;
                    vertical-align: baseline;
                    display: inline-block;
                    border-radius: 50%;
                    background-color: transparent !important;
                    border: none;
                }
            }
        }
    }

    &__button-switch {
        margin: 0 auto;
        display: inline-block;
        border: none;
        background-color: none;
        padding: 10px 5px;
        outline: none !important;
        cursor: pointer;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        &:hover {
            background-image: none;
            background-color: transparent;
            span {
                background-color: #fff;
                opacity: 1;
                background-image: none;
            }
        }
        span {
            width: calc(100vw - 10px);
            height: 3px;
            background-color: #fff;
            display: block;
            transition: background-color 0.2s ease;
            opacity: 0.5;
            transition: opacity 0.5s ease;
        }
        &_active {
            span {
                background-color: green;
                opacity: 1;
            }
        }
    }

    &__indicator {
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__indicator-lines {
        position: relative;
        width: 100%;
        height: 2px;
        &_top {
            position: absolute;
            top: 0;
            width: 0;
            height: 100%;
            background-color: transparent;
            z-index: 2;
            transition: width 100ms ease-out;
        }
        &_bottom {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            transition: width;
            z-index: 1;
        }
    }

    &__message-js {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        font-size: 16px;
        font-family: inherit;
        width: 100%;
        text-align: center;
        z-index: 100;
        background-color: inherit;
        padding: 15px;
    }

    &__preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        &_dot {
            width: 10px;
            height: 10px;
            border: 2px solid #000;
            border-radius: 50%;
            float: left;
            margin: 0 5px;
            transform: scale(0);
            animation: fx 1000ms ease infinite 0ms;
            &:nth-child(2) {
                animation: fx 1000ms ease infinite 300ms;
            }
            &:nth-child(3) {
                animation: fx 1000ms ease infinite 600ms;
            }
        }
    }
}

/**
 * Slide type
 */
[data-slide-type='video'], [data-slide-type='info-2'] {
    .slider-start__text-accent {
        text-align: left;
    }
    .slider-start__title {
        text-align: left;
    }
    .title-animation .slider-start__title {
        margin-left: -7px;
    }
    .slider-start__text {
        text-align: left;
    }
    .slider-start__button-box {
        text-align: left;
        margin-left: -5px;
    }
    .slider-start__content {
        transform: translateY(-50%);
    }
}

[data-slide-type='video'] {
    .slider-start__text-accent {
        font-size: 1.3em;
    }
    .slider-start__title {
        font-size: 2em;
    }
    .slider-start__info {
        max-width: 1000px !important;
    }
}

[data-slide-type='product'] {
    .slider-start__timer {
        display: inline-block;
        margin-left: 20px;
        &_days {
            position: relative;
            text-align: center;
            display: inline-block;
            margin-right: 12px;
            min-width: 40px;
            font-family: inherit;
            color: inherit;
            // @media (max-width: $widthMobile) {
            //     min-width: 40px;
            // }
            &::after {
                content: ":";
                width: 6px;
                position: absolute;
                top: -1px;
                right: -10px;
                font-size: 1.1em;
            }
            &::before {
                content: "Days";
                position: absolute;
                bottom: -8px;
                left: 0px;
                font-size: 9px;
                opacity: 0.7;
                width: 100%;
            }
        }

        &_hours {
            position: relative;
            display: inline-block;
            margin-right: 12px;
            text-align: center;
            min-width: 30px;
            font-family: inherit;
            color: inherit;
            // @media (max-width: $widthMobile) {
            //     min-width: 40px;
            // }
            &::after {
                content: ":";
                position: absolute;
                top: -1px;
                right: -10px;
                font-size: 1.1em;
            }
            &::before {
                content: "Hours";
                position: absolute;
                bottom: -8px;
                left: 0px;
                font-size: 9px;
                opacity: 0.7;
                width: 100%;
            }
        }

        &_minutes {
            position: relative;
            display: inline-block;
            margin-right: 12px;
            text-align: center;
            min-width: 30px;
            font-family: inherit;
            color: inherit;
            // @media (max-width: $widthMobile) {
            //     min-width: 40px;
            // }
            &::after {
                content: ":";
                position: absolute;
                top: -1px;
                right: -10px;
                font-size: 1.1em;
            }
            &::before {
                content: "Minutes";
                position: absolute;
                bottom: -8px;
                left: 0px;
                font-size: 9px;
                opacity: 0.7;
                width: 100%;
            }
        }

        &_seconds {
            position: relative;
            display: inline-block;
            text-align: center;
            min-width: 30px;
            font-family: inherit;
            color: inherit;
            // @media (max-width: $widthMobile) {
            //     min-width: 40px;
            // }
            &::before {
                content: "Seconds";
                position: absolute;
                bottom: -8px;
                left: 0px;
                font-size: 9px;
                opacity: 0.7;
                width: 100%;
            }
        }
    }
}

[data-slide-type='banner'] {
    .slider-start__content {
        height: 100%;
    }
    .slider-start__content {
        top: 0;
        transform: none;
        width: 100%;
    }
    .slider-start__info {
        height: 100%;
        max-width: 100% !important;
    }
}

[data-slide-type='info-2'] {
    .slider-start__timer {
        text-align: left;
        margin-left: -10px;
    }
    .slider-start__text {
        margin-left: 0;
    }
}

/**
 * Animation adaptive slider
 */
.small-start-slider {
    .slider-start__info {
        display: block;
        padding-left: 0;
        width: 100%;
    }
    .slider-start__stars {
        text-align: center;
    }
    .slider-start__product-imgbox {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    .slider-start__product-imgbox_img {
        max-width: 120px;
        margin: 0 auto;
    }
    .slider-start__product-title {
        text-align: center;
        margin-bottom: 5px;
    }
    .slider-start__product-description {
        text-align: center;
        margin-bottom: 5px;
    }
    .slider-start__product-prices {
        text-align: center;
        margin-bottom: 12px;
    }
    .slider-start__product-buttonbox {
        text-align: center;
    }
    .slider-start__buttons-switches {
        bottom: 10px;
    }
    .slider-start__video-bg {
        //width: auto;
    }
    .slider-start__imgbox-center_add-img {
        bottom: calc(30vw * 0.7);
        left: calc(60% * 0.7);
    }
    .slider-start__product-info {
        width: 100%;
        padding-left: 0;
        display: block;
    }
    .slider-start__info-video_desktop {
        display: none;
    }
    .slider-start__info-left {
        width: 100%;
    }
    [data-slide-type='video'] {
        .slider-start__text-accent {
            text-align: center;
        }
        .slider-start__title {
            text-align: center;
        }
        .slider-start__text {
            text-align: center;
        }
        .slider-start__button-box {
            text-align: center;
        }
    }
    [data-slide-type='product'] .slider-start__timer {
        display: block;
        margin-left: 0;
    }
}

.middle-start-slider {
    .slider-start__info {
    }
    .slider-start__product-imgbox {
    }
    .slider-start__product-imgbox_img {
        max-width: 200px;
    }
    .slider-start__video-bg {
        //width: auto;
    }
    .slider-start__info-left {
        width: 100%;
    }
    .slider-start__info-video_desktop {
        display: none;
    }
    [data-slide-type='video'] {
        .slider-start__text-accent {
            text-align: center;
        }
        .slider-start__title {
            text-align: center;
        }
        .slider-start__text {
            text-align: center;
        }
        .slider-start__button-box {
            text-align: center;
        }
    }
}

.large-start-slider {
    .slider-start__info-video_mobile {
        display: none;
    }
}

/**
 * Animation slider
 */
@-webkit-keyframes fx {
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fx {
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/**
 * ----------------------------------------
 * animation kenburns-left
 * ----------------------------------------
 */
@keyframes kenburns-left {
    0% {
        transform: scale(1) translate(0, 0);
        transform-origin: 16% 50%;
    }
    100% {
        transform: scale(1.25) translate(-20px, 15px);
        transform-origin: left;
    }
}

/**
   * ----------------------------------------
   * animation kenburns-top
   * ----------------------------------------
   */
@keyframes kenburns-top {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%;
    }
    100% {
        transform: scale(1.25) translateY(-15px);
        transform-origin: top;
    }
}

/**
   * ----------------------------------------
   * animation kenburns-top-right
   * ----------------------------------------
   */
@keyframes kenburns-top-right {
    0% {
        transform: scale(1) translate(0, 0);
        transform-origin: 84% 16%;
    }
    100% {
        transform: scale(1.25) translate(20px, -15px);
        transform-origin: right top;
    }
}

/**
   * ----------------------------------------
   * animation kenburns-top-left
   * ----------------------------------------
   */
@keyframes kenburns-top-left {
    0% {
        transform: scale(1) translate(0, 0);
        transform-origin: 16% 16%;
    }
    100% {
        transform: scale(1.25) translate(-20px, -15px);
        transform-origin: top left;
    }
}

/**
   * ----------------------------------------
   * animation kenburns-bottom-right
   * ----------------------------------------
   */
@keyframes kenburns-bottom-right {
    0% {
        transform: scale(1) translate(0, 0);
        transform-origin: 84% 84%;
    }
    100% {
        transform: scale(1.25) translate(20px, 15px);
        transform-origin: right bottom;
    }
}

/**
   * ----------------------------------------
   * animation kenburns-bottom
   * ----------------------------------------
   */
@keyframes kenburns-bottom {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 84%;
    }
    100% {
        transform: scale(1.25) translateY(15px);
        transform-origin: bottom;
    }
}

/**
   * ----------------------------------------
   * animation kenburns-bottom-left
   * ----------------------------------------
   */
@keyframes kenburns-bottom-left {
    0% {
        transform: scale(1) translate(0, 0);
        transform-origin: 16% 84%;
    }
    100% {
        transform: scale(1.25) translate(-20px, 15px);
        transform-origin: left bottom;
    }
}

/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */
@keyframes color-change-5x {
    0% {
        background: #19dcea;
    }
    25% {
        background: #b22cff;
    }
    50% {
        background: #ea2222;
    }
    75% {
        background: #f5be10;
    }
    100% {
        background: #3bd80d;
    }
}
